tox
coverage
djangocms_helper
django_polymorphic==2.0.3
cachetools
mock
factory-boy
django-simple-captcha
python-dateutil>=2.4
pyflakes>=2.1.1
flake8
isort
mock
cachetools
django-filer<2.0.0
django-classy-tags<2.0.0
django-sekizai<2.0.0
# Please note that aldryn-forms version 5 can only be used with django >2 and deprecates <2 completely. Version 5 is only available on master, not yet on pypi.
https://github.com/divio/aldryn-forms/archive/master.zip
