{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
{{ block.super }}
{% if submit_for_review_url %}
    <li>
        <a href="{{ submit_for_review_url }}">{% trans 'Submit for review' %}</a>
    </li>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url 'admin:djangocms_moderation_moderationcollection_changelist' %}">Moderation collections</a>
&rsaquo; Comments
</div>
{% endblock %}

{% block content %}
{{ collection }}
{{ block.super }}

{% comment %}
    TODO This template will be overridden to provide the required functionality.
    For now, lets just output the selected collection
{% endcomment %}

{% endblock %}
