{% load i18n %}

{# TODO: need to be added to cms core #}
<style>
.cms-toolbar-item-buttons-dropdown {
    position: relative;
}
.cms-toolbar-item-buttons-dropdown .cms-icon-arrow {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 9px;
    margin-left: 5px;
}
.cms-toolbar-item-buttons-dropdown .cms-btn-dropdown {
    border-radius: 3px !important;
}
.cms-toolbar-item-buttons-dropdown-items {
    position: absolute;
    right: 0;
    top: 30px;
    display: none;
}
.cms-toolbar-item-buttons-dropdown-items a {
    min-width: 150px;
    text-align: right !important;
    margin: -1px 0 !important;
    border-radius: 0 !important;
}
.cms-toolbar-item-buttons-dropdown:hover .cms-toolbar-item-buttons-dropdown-items {
    display: block !important;
}

.cms-more-dropdown-full .cms-toolbar-item-buttons-dropdown-items {
    position: relative;
    top: 0;
    display: block;
}
.cms-more-dropdown-full .cms-toolbar-item-buttons-dropdown-items a {
    text-align: center !important;
}
</style>
<script>
window.onload = function () {
    window.CMS.$('.js-prevent-actions').off().on('click', function (e) {
        e.preventDefault();
    });
    window.CMS.$('.js-prevent-actions-publish').off('click.cms.toolbar').on('click', function (e) {
        // TODO needs to be implemented into the CMS
        e.preventDefault();
        CMS.API.Toolbar.showLoader();
        // send post request to prevent xss attacks
        $.ajax({
            type: 'post',
            url: $(this).prop('href'),
            data: {
                csrfmiddlewaretoken: CMS.config.csrf
            },
            success: function () {
                var url = CMS.API.Helpers.makeURL(
                    CMS.API.Helpers._getWindow().location.href.split('?')[0],
                    [CMS.settings.edit_off + '=true']
                );
                CMS.API.Helpers.reloadBrowser(url);
                CMS.API.Toolbar.hideLoader();
            }
        });
    });
};
</script>

<div class="cms-toolbar-item cms-toolbar-item-buttons cms-toolbar-item-buttons-dropdown {{ extra_classes|join:' ' }}">
    <a href="/en/admin/cms/page/1/en/moderation/approve/" class="cms-btn cms-btn-action cms-btn-dropdown js-prevent-actions" data-rel="modal">
        {% trans "Moderation" %} <span class="cms-icon cms-icon-arrow"></span>
    </a>
    <div class="cms-toolbar-item-buttons-dropdown-items">
        {% for button in buttons %}
            {{ button.render }}
        {% endfor %}
    </div>
</div>
