{% load i18n cms_tags sekizai_tags %}

<!doctype html>
<html>
    <head>
        {% render_block "css" %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% if submitted %}
            <script type="text/javascript">
                window.location.href = "{{ redirect_url }}";
            </script>
        {% endif %}

        <div class="container">
            {% block pre_content %}{% endblock %}

            {% include "djangocms_moderation/confirmation_page.html" %}

            {% block post_content %}{% endblock %}
        </div>

        {% render_block "js" %}
        {% block extrajs %}{% endblock %}
    </body>
</html>
