{% extends "admin/change_form.html" %}
{% load i18n %}
{% load static %}

{% block content_title %}
    <h1>Cancel collection `{{ form.collection.name }}`</h1>
{% endblock %}

{% block content %}
<form action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
    {% trans "Are you sure you'd like to cancel this collection?" %}
    <div class="submit-row">
        {{ form }}
        <input type="submit" value="{% trans 'Confirm' %}" class="default" name="_save">
    </div>
</form>
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
