{% extends "admin/change_form.html" %}
{% load i18n %}
{% load static %}

{% block content_title %}
    <h1>Cancel collection `{{ collection.name }}`</h1>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% trans "Are you sure you'd like to cancel this collection?" %}
    <div class="submit-row">
        {{ form }}
        <a class="btn" href="{% url 'admin:djangocms_moderation_moderationrequest_changelist' %}?collection__id__exact={{ collection.id }}">
            {% trans 'Cancel' %}
        </a>
        <input type="submit" value="{% trans 'Confirm' %}" class="default" name="_save">
    </div>
</form>
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
