{% extends "admin/change_form.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<form action="{{ request.get_full_path }}" method="post">
{% csrf_token %}
<div>
    <h2>{% trans "Add to existing collection" %}</h2>
    {% if form.non_field_errors %}
        <span>{{ form.non_field_errors }}</span>
    {% endif %}
    <div class="form-row">
        <div class="related-widget-wrapper widget-wrapper-links-2">
            {{ form.version.as_hidden }}
            {{ form.version.errors }}
            {{ form.collection }}
        </div>
    </div>
    <!-- List of collection objects -->
    <div class="results">
     <table>
        <thead>
            <tr>
                <th>{% trans "Content Type" %}</th>
                <th>{% trans "Identifier" %}</th>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Edit Date" %}</th>
                <th>{% trans "Version" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for mrl in moderation_request_list %}
            <tr class="row1 djangocms_moderation_collections_1">
                <td>{{ mrl.version.content_type|title }}</td>
                <td>{{ mrl.version.content }}</td>
                <td>{{ mrl.version.created_by }}</td>
                <td>{{ mrl.version.created }}</td>
                <td>Stub VNumber [versioning]</td>
                <td>{{ mrl.version.state|title }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="submit-row">
        <input type="submit" value="{% trans 'Submit' %}" class="default" name="_save">
    </div>
</div>
</form>
<script type="text/javascript">
    (function($) {
        $(function() {
            var collection_sel = $('#id_collection')
            collection_sel.data('prev', collection_sel.val());
            collection_sel.on('change', function() {
                jqThis = $(this)

                if(location.href.indexOf('collection_id') == -1){
                        new_url = location.href + '&collection_id=' + jqThis.val()
                } else {
                        new_url = location.href.replace("collection_id="+jqThis.data("prev"),
                                                        "collection_id="+jqThis.val())
                }

                location.href = new_url
            });
        });
    })(django.jQuery);
</script>
{% endblock %}
