{% extends "djangocms_moderation/item_to_collection.html" %}
{% load i18n %}
{% load static %}
{% block item_to_collection_header %}
    <h2>
        {% blocktrans with version.content as content_name %}
           Add items to collection
        {% endblocktrans %}
    </h2>
{% endblock %}

{% block item_to_collection_form %}
    <div class="form-row">
        <div class="related-widget-wrapper widget-wrapper-links-2">
            {{ form.versions.as_hidden }}
            {{ form.versions.errors }}
            {{ form.collection.label_tag }}
            {{ form.collection.errors }}
            {{ form.collection }}
        </div>
    </div>
{% endblock %}
