{% extends "admin/change_list.html" %}

{% load i18n %}

{% block object-tools-items %}
{{ block.super }}
{% if collection.allow_submit_for_review %}
    <li>
        <a href="{% url 'admin:cms_moderation_submit_for_review' collection.id %}">
            {% trans 'Submit for review' %}
        </a>
    </li>
{% endif %}
{% endblock %}


{% block content %}
{{ block.super }}

{% comment %}
    TODO This template will be overridden to provide required functionality.
    For now, lets just output selected collection
{% endcomment %}
Selected collection: {{ collection }}
{% endblock %}
