{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block content %}
    {% if errors or adminform.non_field_errors %}
        <p class="errornote">
            {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ adminform.non_field_errors }}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
                {% for field in adminform.visible_fields %}
                    <div class="form-row">
                        <div{% if field.errors %} class="errors"{% endif %}>
                            {% if field.errors %}{{ field.errors }}{% endif %}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                {% if form_submissions %}
                    <div class="form-row">
                        <div><b>{% trans "Completed Forms"|title %}</b></div>
                        {% for form_sub in form_submissions %}
                            <div>
                                <a href="{% url form_submission_opts|admin_urlname:'change' form_sub.pk %}" target="_blank">{{ form_sub.for_step.role.name|title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </fieldset>
        </div>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Submit' %}" class="default" name="_save">
        </div>
    </form>
{% endblock %}
