{% extends "admin/change_form.html" %}

{% block admin_change_form_document_ready %}
    {{ block.super }}

    <script>
        (function($) {
            'use strict';
            $(document).ready(function() {
                var refRequiredEl = $('#id_is_reference_number_required');
                var refPrefixWrap = $('.field-reference_number_prefix');

                var toggle = function() {
                    if (refRequiredEl.is(':checked')) {
                        refPrefixWrap.show();
                    } else {
                        $('#id_reference_number_prefix').val('');
                        refPrefixWrap.hide();
                    }
                };

                toggle();

                refRequiredEl.click(function(ev){
                  toggle();
                });

            });
        })(django.jQuery);
    </script>

{% endblock %}
