cachetools
coverage
django-classy-tags>=0.7.2
django-filer
django-sekizai
django-simple-captcha
django-app-helper
factory-boy
flake8
isort
mock
pyflakes>=2.1.1
python-dateutil>=2.4

# django-cms 4.0 specific packages
django-cms>=4.1.0
djangocms-text-ckeditor>=5.1.2
djangocms-alias>=2.0.0
djangocms-versioning>=2.0.0
