name: CodeCov

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    env:
      ENABLE_VERSIONING: 1
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12" ]  # latest release minus two
        requirements-file: [
            dj52_cms50.txt,
            dj52_cms41.txt,
            dj51_cms41.txt,
            dj50_cms41.txt,
            dj42_cms41.txt,
            dj42_cms40.txt,
        ]
        os: [
            ubuntu-latest,
        ]
        exclude:
          - requirements-file: "dj42_cms40.txt"
            python-version: "3.12" #cms40 not support py3.12 yet
          - requirements-file: "dj32_cms40.txt"
            python-version: "3.12"

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}

      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r tests/requirements/${{ matrix.requirements-file }}
        python -m pip install -e .

    - name: Run coverage
      run: coverage run ./tests/settings.py

    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v5
